.autocomplete {
	width: 200px;
}
.autocomplete-input {
	position: relative;
	height: 20px;
	width: 100%;
}
.options-list {
	position: absolute;
	top: 35px;
	background: #e3e3e3;
	width: inherit;
	height: 200px;
	overflow-y: scroll;
}
.options-list > ul {
	padding: 10px;
	text-align: left;
	margin-top: 0;
}

.options-list > ul > li:hover {
	background-color: #c1c0c0;
}

.options-list > ul > li {
	padding: 3px 0;
	cursor: pointer;
}

.options-list > ul > li::marker {
	content: "";
}
